.app-header {
  height: 150px;
  box-sizing: border-box;
  color: #ba5536;
  background-color: #46211a;
}

.main-menu__item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.main-menu__item-link {
  background-color: #a43820;
  color: #46211a;
}

.main-menu__item-link:hover {
  color: #46211a !important;
  text-decoration: underline;
}

.main-menu__item-link--active {
  color: #ffffff;
}

.logo {
  font-family: 'Kaushan Script', cursive;
}

.app-sidebar {
  background-color: #a43820;
  color: #46211a;
}

.sidebar-menu__item-link {
  color: #a43820;
  background-color: #46211a;
}

.sidebar-menu__item-link:hover {
  color: #a43820 !important;
  text-decoration: underline;
}

.sidebar-menu__item-link--active {
  color: #ffffff;
}

.app-main {
  min-height: calc(100vh - 250px);
  box-sizing: border-box;
  color: #46211a;
  background-color: #ba5536;
}

.app-main h1 {
  color: #693d3d;
}

.app-main h2 {
  color: #693d3d;
  border-bottom: 2px solid #693d3d;
}

.app-main p {
  font-family: Arial, Helvetica, sans-serif;
}

.user .image {
  margin: 0 auto;
}

.app-footer {
  background-color: #693d3d;
  height: 100px;
  box-sizing: border-box;
}

.copyright {
  color: #ba5536;
}
